<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Wall</h3>
          </div>

          <div class="panel-body">
            <%= form_for :new_photo, url: photos_create_path(@new_photo) do |f| %>
              <div class="form-group">
                <%= f.label :title %>
                <%= f.text_field :title, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :description %>
                <%= f.text_area :description, class: "form-control" %>
              </div>
              <%= f.submit "Submit", class:"btn btn-default" %>
              <div class="pull-right">
                <div class="btn-toolbar">
                  <%= f.file_field :location, accept: 'image/png,image/gif,image/jpeg' %>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <div class="panel panel-default post" id="element">

          <div class="panel-body">
            <div class="row">
              <div class="col-sm-2">
                <a href="profile.html"
                   class="post-avatar thumbnail">
                  <%= image_tag("user.png") %>
                  <div class="text-center">DevUser1</div>
                </a>
                <div class="likes text-center">7 Likes</div>
              </div>
              <div class="col-sm-10">
<!--                <div class="bubble">-->
                  <div class="pointer text-center">
                    <%= image_tag(@photo.location, alt: @photo.title) %>
                  </div>
                  <div class="pointer-border">
                    <h4 class="text-center">
                      <%= @photo.title %>
                    </h4>
                    <p>
                      <%= @photo.description %>
                    </p>
                  </div>
<!--                </div>-->
                <p class="post-actions"><a href="#">{{ message }}</a>
                  <stars number=`<%= @photo.photo_score %>`></stars>
                </p>

                <div class="comment-form">
                  <form class="form-inline">
                    <div class="form-group">
                      <input type="text"
                             class="form-control"
                             placeholder="enter comment">
                    </div>
                    <button type="submit"
                            class="btn btn-default">Add
                    </button>
                  </form>
                </div>
                <div class="clearfix"></div>

                <div class="comments">
                  <div class="comment">
                    <%#= image_tag("user.png",class:"comment-avatar pull-left") %>
                    <div class="comment-text">
                      <p>I am just going to paste in a
                        paragraph, then we will add
                        another clearfix.</p>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="comment">
                    <a href="#"
                       class="comment-avatar pull-left"><img
                      src="images/user.png" alt=""></a>
                    <div class="comment-text">
                      <p>I am just going to paste in a
                        paragraph, then we will add
                        another clearfix.</p>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default friends">
          <div class="panel-heading">
            <h3 class="panel-title">My Friends</h3>
          </div>
          <div class="panel-body">
            <div class="clearfix"></div>
            <a class="btn btn-primary" href="#">View All Friends</a>
          </div>
        </div>
        <div class="panel panel-default groups">
          <div class="panel-heading">
            <h3 class="panel-title">Latest Groups</h3>
          </div>
          <div class="panel-body">
            <div class="group-item">
<!--              <img src="images/group.png" alt="">-->
              <h4><a href="#" class="">Sample Group One</a></h4>
              <p>This is a paragraph of intro text, or whatever I
                want to call it.</p>
            </div>
            <div class="clearfix"></div>
            <div class="group-item">
<!--              <img src="images/group.png" alt="">-->
              <h4><a href="#" class="">Sample Group Two</a></h4>
              <p>This is a paragraph of intro text, or whatever I
                want to call it.</p>
            </div>
            <div class="clearfix"></div>
            <div class="group-item">
<!--              <img src="images/group.png" alt="">-->
              <h4><a href="#" class="">Sample Group Three</a></h4>
              <p>This is a paragraph of intro text, or whatever I
                want to call it.</p>
            </div>
            <div class="clearfix"></div>
            <a href="#" class="btn btn-primary">View All Groups</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  $(document).ready(f=> {
      var app = new Vue({
          el: "#element",
          data:{
              posts:[]
          }
      })
  })
</script>
