<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) + "aaaa" %></title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <%= render "layouts/nav" %>
    <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
    <div class="container">
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <%= javascript_include_tag 'application' %>
  <script src="https://kit.fontawesome.com/860404087b.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</html>
